# Основы языка Python

## Функции

**Функция** - это блок организованного, многократно используемоего кода, который используется для выполнения конкретного задания.  Функции в Python - объект, который принимает аргументы, производит обработку данных, возвращает значение. Функция может принимать произвольное количество аргументов.

Они все обладают общим свойством: они могут принимать параметры (ноль, один или несколько), и они могут возвращать значение (хотя могут и не возвращать).

In [ ]:
my_func() - > list(map(int, input().split()))

s = my_func()
...
s1 = my_func()
....
s2 = my_func()
....
s3 = my_func()
....
s500 = my_func()

### Встроенный функции языка Python

Язык Python включает много уже определенных, то есть встроенных в него, функций.

**int()** - преобразование к целому числу.

In [ ]:
# название_функции(arr)
int('3') # преобразование из типа str в тип int

**float()** - преобразование к числу с плавающей точкой. Если аргумент не указан, возвращается 0.0.

In [ ]:
float('3.5') # преобразование из типа str в тип float

**str()** - строковое представление объекта.

In [ ]:
str(123) # преобразование из типа int в тип str

**input()** - Возвращает введенную пользователем с консоли строку.

In [ ]:
x = input() # функция попросит пользователя ввести с клавиатуры и вернет это значение в x (тип возвращаемого значения str)
type(x)

x = int(input()) # преобразование введенного с клавиатуры числа в тип str

**len()** - Возвращает число элементов в указанном объекте.

In [ ]:
s = 'Hello hello'

s.split()

len(s)

In [ ]:
x = [5, 7, 8, 2, 5]
len(x) # вернет значение 5 (5 элементов в списке)

s = 'Hello'
len(s) ## вернет значение 5 (5 букв в слове)

5

**max()** - функция используется для нахождения «максимального» значения в последовательности, итерируемом объекте и так далее. В параметрах можно менять способ вычисления максимального значения.

**min()** - функция используется для нахождения «минимального» значения в последовательности, итерируемом объекте и так далее. В параметрах можно менять способ вычисления минимального значения.

In [ ]:
x = [5, 7, 8, 2, 5]
max(x) # вернет значение 8

In [1]:
x = ['Aaa', 'And', 'Abbb', 'AA']
max(x)

'And'

In [ ]:
x = [5, 7, 8, 2, 5]
max(x) # вернет значение 8

In [ ]:
x = [5, 7, 8, 2, 5]
max(x) # вернет значение 8
min(x) # вернет значение 2

x = ["Яблоко", "Апельсин", "Автомобиль"]
max(x, key = len) # считает самое длинное слово (по длинне) - вернет "Автомобиль"
#max(x) # вернет "Яблоко" (сравнение слов будет по лексиграфическому признаку)

'Яблоко'

**reversed()** - функция предоставляет простой и быстрый способ развернуть порядок элементов в последовательности. В качестве параметра она принимает валидную последовательность, например список, а возвращает итерируемый объект.

In [ ]:
arr = [1,2,3]
arr[::-1]

[3, 2, 1]

In [5]:
arr = [3,4,5]
arr = list(reversed(arr))
arr

[5, 4, 3]

In [13]:
lst = [1,5,4,8,2,8,4]

lst = sorted(lst) # НУЖНО!
lst = lst.sort() # НЕЛЬЗЯ! lst = None
lst.sort() # ПРАВИЛЬНО!

lst

None

[1, 2, 4, 4, 5, 8, 8]

In [ ]:
arr = [3,4,5]
b = reversed(arr)
list(b)
x[::-1]

[5, 4, 3]

**set()** - создает множество. Обычно в качестве аргументов функция принимает последовательность, например строка или список, которая затем преобразуется в множество уникальных значений.

In [ ]:
set("Hello")
# {'e', 'l', 'o', 'H'}

set((1,1,1,2,2,3,4,5))
# {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

**range()** - Используется для создания последовательности чисел с заданными значениями от и до, а также интервалом. Такая последовательность часто используется в циклах, особенно в цикле for.

In [14]:
# range(start, stop, step)
print(list(range(10, 20, 2)))
# вернет список [10, 12, 14, 16, 18]
list(range(10, 20, 2))

# Она работает только с ЦЕЛЫМИ числами!

[10, 12, 14, 16, 18]

[10, 12, 14, 16, 18]

In [ ]:
list(range(10, 20, 2))
# range(start, stop-1, step)
# генерирует список чисел

[10, 12, 14, 16, 18]

In [ ]:
# в циклах
arr = [1, 45, 7, 3, 7, 8, 9]

**enumerate()** - В качестве параметра эта функция принимает последовательность. После этого она перебирает каждый элемент и возвращает его вместе со счетчиком в виде перечисляемого объекта. Основная особенность таких объектов — возможность размещать их в цикле для перебора.

Если range() позволяет получить только индексы элементов списка, то enumerate() – сразу индекс элемента и его значение.

In [ ]:
x = "Строка"
print(list(enumerate(x)))
# [(0, 'С'), (1, 'т'), (2, 'р'), (3, 'о'), (4, 'к'), (5, 'а')]

[(0, 'С'), (1, 'т'), (2, 'р'), (3, 'о'), (4, 'к'), (5, 'а')]

###Определение собственных функций

Также в Python можно определить свою функцию.
Функция определяется с помощью инструкции **def**.

Существуют некоторые правила для создания функций в Python.

- Блок функции начинается с ключевого слова def, после которого следуют название функции и круглые скобки ().
- Любые аргументы, которые принимает функция должны находиться внутри этих скобок.
- После скобок идет двоеточие ( : ) и с новой строки с отступом начинается тело функции.

Выражение **return** прекращает выполнение функции и возвращает указанное после выражения значение. Выражение return без аргументов это то же самое, что и выражение return None.
```
def <Название функции>(параметр1, параметр2, ...):
    --код--
    return параметр1 + параметр2
```

Например, определим простейщую функцию, которая принимает в качестве аргументов два числа и возвращает их сумму.

In [ ]:
lst.sort() -> return None

- аргумент (фактический параметр): фактическая переменная передается в функцию;
- параметр (формальный параметр): принимающая переменная, которая используется в функции.

In [ ]:
s = '0+1=21'

'0+1=21'

In [16]:
# x, y - это параметры функции
# функция возвращает значение переменной s
def summa(x, y):
    s = x + y
    return s

result = summa(5,6)
result

11

In [23]:
# x, y - это параметры функции
# данная функция ничего не возвращает, но выводит на экран сумму двух чисед
def summa2(x, y):
    s = x + y
    print(s)

result = summa2(6,5)
print(result)

11
None

После создания функции, ее можно исполнять вызывая из другой функции или напрямую из оболочки Python. Для вызова функции следует ввести ее имя и добавить скобки.

In [ ]:
# Для того, чтобы использовать функцию ее необходимо вызвать и передать ей необходимые аргументы
r, x, y = summa(4,5) # функция вернет сумму двух чисел 4 и 5 (4, 5 - это аргументы функции)
print(r, x, y)
a = 1
b = 3
summa(a,b) # функция вернет сумму двух чисел a и b (a, b - это аргументы функции)

9 4 5

(4, 1, 3)

Также функции могут принимать любые типы аргументов как числове, так и строковые, списки, словари и так далее.

In [ ]:
# функция, которая в качестве парамента принимает список
# и возвращает сумму его элементов
def summa_spiska(lst):
    s = 0
    for i in lst:
        s += i
    return s

spisok = [1,2,3,4,5]
summa_spiska(spisok)

summa_spiska([1,9,10])

20

### Лямбда-функции

В языке Python могут быть определены анонимные функции, которые чаще называют "лямбда" функциями. По существу - лямбда-функция - это объект, с которым также можно работать.

In [ ]:
def name_func(x):
    x += 1
    return x

plus1 = lambda x: x+1
print(plus1 (1))

2

Существуют простые ограничения на работу лямбда функции: вы можете передать сколько угодно входных переменных, но на выходе получите результат только одного выражения, которое с ними работает. \\
Основное, для чего используются лямбда-функции, это размещение функций там, где они непосредственно нужны, в качестве аргументов высшестоящих функций.

In [ ]:
spisok = [1, 2, 3, 4, 5, 6, 7]
new_spisok = list(filter(lambda x: (x%2 == 0) , spisok))
print(new_spisok)

[2, 4, 6]

In [ ]:
spisok = [1, 2, 3, 4, 5, 6, 7]
new_spisok = list(map(lambda x: x*2 , spisok))
print(new_spisok)

[2, 4, 6, 8, 10, 12, 14]

##Циклы for и while

Циклы python — for и while представляют собой операторы языка программирования, то есть операторы итерации, которые позволяют повторять код определенное количество раз.

###Синтаксис цикла `For`

Как уже упоминалось ранее, цикл for в Python является итератором, основанным на цикле. Он проходит по элементам list и tuple, строкам, ключам словаря и другим итерируемым объектам.

В Python цикл начинается с ключевого слова for, за которым следует произвольное имя переменной, которое будет хранить значения следующего объекта последовательности. Общий синтаксис for...in в python выглядит следующим образом:

```
for <переменная> in <последовательность>:
    <действие>
else:
    <действие>
```

Элементы «последовательности» перебираются один за другим «переменной» цикла; если быть точным, переменная указывает на элементы. Для каждого элемента выполняется «действие».

In [ ]:
lst = [1, 3, 6, 1, 9]

for i in lst:
    # i = 6
    if i % 2 == 0:
        print(i**2)
    else:
        print(i//2)

1
3
6
1
9

In [24]:
lst = [1,3,6,1,9]
print(len(lst)) # 5
# range(0, len(lst)) [0, 1, 2, 3, 4]
# i = 0; i < len(lst); i++
for i in range(0, len(lst)):
    print(i, lst[i])

5
0 1
1 3
2 6
3 1
4 9

In [ ]:
lst = [1,3,6,1,9]
print(len(lst)) # кол-во элементов

5

In [ ]:
for i in range(0, len(lst)):

In [25]:
lst = [1,3,6,1,9]

for i in lst:
    # [1, 3, 6, 1, 9]
    print('Значение:', i)

for i in range(0, 10): # 0 1 2 3 4 5 6 7 8 9
    # [0, 1, 2, 3, 4]
    print('Индекс:', i)

Значение: 1
Значение: 3
Значение: 6
Значение: 1
Значение: 9
Индекс: 0
Индекс: 1
Индекс: 2
Индекс: 3
Индекс: 4
Индекс: 5
Индекс: 6
Индекс: 7
Индекс: 8
Индекс: 9

In [ ]:
x = 17
с = 0

for i in range(x+1):
    if x % i == 0:
        с += 1

if с == 2:
    print("Yes")

In [ ]:
y = 0

type(y) == bool

False

In [ ]:
# нок и нод
# факториал

x = 100 # 1 2 3 4 9 16 25
for i in range(x+1): # 0 1 2 3 4 5 6....14
    y = i**0.5
    if type(y):
        print(i)

In [ ]:
lst = [1, 3, 6, 1, 9]
s = 'Hello'

# len(s), len(lst)

for i in lst:
    i = i * 2 # массив не изменится!

for i in range(0, len(lst)):
    lst[i] = lst[i] * 2 # массив изменится!

for ind, val in enumerate(lst):
    lst[ind] = lst[ind] * 2 # массив изменится!
    val = val * 2 # массив не изменится!

print(lst)

[2, 6, 12, 2, 18]

In [ ]:


print(lst)

for i in range(len(lst)):
    # в данном случае в переменной i лежат индексы элементов списка
    lst[i] += 1

print(lst)

for index, value in enumerate(lst):
    # в данном случае в переменной index лежат индексы элементов списка
    # в переменной value значение элемента списка
    print(index, value)
    value += 1
    # lst[index] += 1

print(lst)

[1, 3, 6, 1, 9]
[2, 4, 7, 2, 10]
0 2
1 4
2 7
3 2
4 10
[2, 4, 7, 2, 10]

In [ ]:
lst = [1,3,6,1,9]
# к каждому элементу списка необходимо добавить число 1
for i in lst:
    # в переменной i лежит значение элемента списка
    i += 1

lst

[1, 3, 6, 1, 9]

Блок else является особенным.

Он будет выполнен только в том случае, если цикл не был «остановлен» оператором break. Таким образом, он будет выполнен только после того, как все элементы последовательности будут пройдены.

Если в программе цикл for должен быть прерван оператором break, цикл будет завершен, и поток программы будет продолжен без выполнения действий из else.

Обычно фразы **break** в Python связаны с условными операторами.

In [ ]:
names = ["Петр", "Максим", "Иван", "Мария"]

# Цикл по очередно перебирает имена в списке
# Как только мы нашли имя Максим, цикл необходимо преравать и не просматривать следующие элементы
for name in names:
    if name == "Максим":
        print("Меня зовут Максим!")
        break
    print("Другие имена", name)
else:
    print("Спасибо, теперь я знаю все имена")

Другие имена Петр
Другие имена Иван
Другие имена Мария
Спасибо, теперь я знаю все имена

Оператор пропуска Python — **continue**

Предположим, имя "Максим" нам нужно просто пропустить и продолжить дальше перебор имен. Тогда нужно использовать оператор continue, для перехода к следующему элементу.

В следующем маленьком скрипте python мы используем continue, чтобы продолжить, итерацию по списку, когда мы сталкиваемся с нужным именем.

In [ ]:
names = ["Петр", "Иван", "Максим", "Мария"]

for name in names:
    if name == "Максим":
        print("Меня зовут Максим!")
        continue
    print("Другие имена", name)
    # code 1
    # code 2
else:
    print("Спасибо, теперь я знаю все имена")

Другие имена Петр
Другие имена Иван
Меня зовут Максим!
Другие имена Мария
Спасибо, теперь я знаю все имена

In [ ]:
for i in range (1, 3):
  i = 10
  print(i)
  i = 11
  print(i)
  i = 12
  print(i)

10
11
12
10
11
12

In [ ]:
for i in (3):
	print(i)

TypeError: ignored

### Синтаксис `while`


```
while <условие (булевское выражение)>:
    <code>
```

Здесь код, написанный вместо `code` будет выполняться каждую итерацию цикла, пока условие после `while` будет выполняться.

Посмотрим на примере: Напишем цикл, в котором будем выводить переменную x и увеличивать x на 1, пока x не станет больше 10:

In [ ]:
arr = [1,4,5,6,7,23,5]

arr[::-1], reversed(arr)

([5, 23, 7, 6, 5, 4, 1], <list_reverseiterator at 0x7f3362f3ded0>)

Цикл while является своего рода условным оператором. Вот что значит этот код: пока переменная i меньше 10, её нужно выводить на экран. Далее, в конце, мы увеличиваем её значение на единицу. Если вы запустите этот код, он выдаст от 1 до 10, каждая цифра будет в отдельной строке, после чего задача будет выполнена. Если вы удалите ту часть, в которой мы увеличиваем значение i, то мы получим бесконечный цикл.

В циклах `while` также можно использовать оператор break и continue.

In [26]:
x = int(input())

while x < 10:
    x += 1

100

In [ ]:
x = 50

result = ''

while x != 0:
    result = str(x%13) + result
    x = x // 13

print(result)

In [ ]:
x = 1

while x < 10:
    if x == 3:
        x += 1
        continue

    print(x)
    if x == 5:
        break

    x += 1

print(x)
# 1 2 4 5

1
2
4
5

## Область видимости

Некоторые переменные программы могут быть недоступны некоторым областям данной программы. Все зависит от того, где вы объявили эти переменные.

В Python две базовых области видимости переменных:
- Глобальные переменные
- Локальные переменные

Переменные объявленные внутри тела функции имеют локальную область видимости, те что объявлены вне какой-либо функции имеют глобальную область видимости.

Это означает, что доступ к локальным переменным имеют только те функции, в которых они были объявлены, в то время как доступ к глобальным переменным можно получить по всей программе в любой функции.

In [27]:
for i in range(10):
    i += 1

print(i)

10

In [ ]:
z = 100 # z - глобальная переменная и может быть использована в любом месте программы (в том числе внутри функции)

def summa(x, y):
    p = x + y
    # p - локальная
    return None

def summa1(x, y):
    s = x + y + z
    # s - локальня
    # z - глобальная
    return s

print(p)

summa(1,2) #вызовем функцию и передадим ей два числа 1 и 2
print(p) # тут возникнет ошибка (так как вне функции переменная s не доступна)

summa1(1,2) # в данной случае функция вернет сумму трех числе 1 + 2 + 100, так как переменная z доступна в любой части программы
            # в том числе внутри функций

NameError: ignored

Важно помнить, что для того чтобы получить доступ к глобальной переменной, достаточно лишь указать ее имя. Однако, если перед нами стоит задача изменить глобальную переменную внутри функции - необходимо использовать ключевое слово **global**.

In [ ]:
z = 0

def summa(x, y):
    z = x + y
    # s = x + z
    # z - локальная переменная
    return None

def summa1(x, y):
    global z
    z = x + y
    return None

summa(1, 2) # при вызове данной функции значение глобальной переменной z не измениться
print(z)

summa1(1,2) # при вызове данной функции значение глобальной переменной z  измениться
print(z)

0
3

## Оператор * и **

В Python, так же как и в С/С++ существует оператор *. Но делает он вовсе не то, что от него принято ожидать программистам на C/C++. В первую очередь он служит для распаковки аргументов.

In [ ]:
numbers = [1, 2, 3, 4, 5]

print(*numbers)

1 2 3 4 5

In [ ]:
result = [numbers, 6, 7]
result

[[1, 2, 3, 4, 5], 6, 7]

In [ ]:
more_numbers = [*numbers, 6, 7]
more_numbers

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
numbers = [[1, 2, 3, 4, 5], [-1, -2, -3, -4, 5]]
print(*numbers)

for i in numbers:
    print(*i)

[1, 2, 3, 4, 5] [-1, -2, -3, -4, 5]
1 2 3 4 5
-1 -2 -3 -4 5

In [ ]:
num = [numbers, 6, 7]
print(*num, sep=', ')

[1, 2, 3, 4, 5], 6, 7

In [ ]:
names = ['Petr', 'Yaroslav', 'Dmitriy', 'Sergey']
print(names[0], names[1], names[2], names[3])

print(*names)

Petr Yaroslav Dmitriy Sergey
Petr Yaroslav Dmitriy Sergey

Оператр ** можно использовать для распаковки аргументов словаря. Обратите внимание, что в этом случае требуется указание конкретных ключей для словаря.

In [ ]:
date_info = {'year': "2020", 'month': "01", 'day': "01"}
filename = "{year}-{month}-{day}.txt".format(**date_info)
print(filename)

2020-01-01.txt

## Обработка исключений

Часто можно столкнуться с тем, что выполняемый код потенциально не может быть выполнен. Иногда это происходит в силу ошибок, а иногда в силу специфики задачи. Такие ситуации можно обрабатывать с помощью инструментов работы с исключениями.

In [ ]:
100 / 0

ZeroDivisionError: ignored

In [ ]:
2 + '1'

TypeError: ignored

In [ ]:
int('qwerty')

ValueError: ignored

Для работы с исключениями нужно использовать специалную конструкцию, похожую на стандартный оператор ветвления: если получится, выполни операцию, а иначе выполни другую операцию.

In [ ]:
try:
    k = 1 / 0
except:
    k = 0
print(k)

0

In [ ]:
try:
    k = 1 / 0
except ArithmeticError:
    k = 0
print(k)

0

In [ ]:
try:
    k = 1 / 0
except:
    k = 0
print(k)

0

Обратите внимание, что исключения имеют иерархию. Можно обращаться к каждому отдельному исключению.

## Задания

**Задача 1.**

Даны четыре действительных числа: x1, y1, x2, y2. Напишите функцию distance(x1, y1, x2, y2), вычисляющая расстояние между точкой (x1,y1) и (x2,y2).

**Задача 2.**

Написать функцию season(month), принимающую 1 аргумент — номер месяца (от 1 до 12), которая присваивает глобальной переменной s время года, которому этот месяц принадлежит (зима, весна, лето или осень).

**Задача 3.**

Написать функцию is_prime, принимающую 1 аргумент — число от 0 до 1000, и возвращающую True, если оно простое, и False - иначе.

**Задача 4.**

Написать функцию reverse_list(lst), которая принимает в качестве аргумента список и возвращаем его в перевернутом виде.

Например,
- исходный спискок:  8, 1, 0, 4
- полученный спискок: 4, 0, 1, 8

Использовать встроенные функции Python нельзя.

**Задача 5.**

Распечатайте с 4 по 8 символ фразы "Привет мир!" приведенные к верхнему регистру.

**Задача 6.**

Напишите код, который все элементы массива x с нечетными индексами переставит в обратном порядке.

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

**Задача 7.**

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8.

**Задача 8.**

На вход функция more_than_five(lst) получает список из целых чисел.
Результатом работы функции должен стать новый список, в котором содержатся только те числа, которые больше 10 по модулю.