# Основы языка Python

## Описание языка и основные аспекты

### Знакомство с Python

[Python](https://www.python.org/) — высокоуровневый язык программирования, являющийся свободным программным продуктом. Разработан в 1991 году программистом из Нидерландов Гвидо ван Россумом. Он поддерживает несколько парадигм программирования, включая объектно-ориентированное и функциональное программирование.  

---

Некоторое время назад Python «раздвоился» — «старый» Python 2 и «новый» Python 3 оказались в значительной мере разными языками. В течение нескольких лет существовало оба языка исползовались одновременно и только совсем недавно большинство использующих Python людей перешло на исполььзование третьей версии.

Для работы с технологиями искусственного интеллекта используется Python 3.

Рассмотрим как выглядит текст традиционной программы - знакомства с миром - на языке Python.

In [ ]:
print("Hello World")
print(5, 78, 'hello')

Hello World
5 78 hello

Язык Python стал столь популярным в области научных исследований благодаря наличию многочисленных библиотек (модулей — modules).  
Вот некоторые из набиолее известных модулей языка Python в области работы с машинным обучением и искусственным интеллектом:

*   [Numpy](https://numpy.org/)
*   [Pandas](https://pandas.pydata.org/)
*   [Scikit-learn](https://scikit-learn.org/stable/)
*   [Keras](https://keras.io/)

Все модули являются свободным программы обеспечением, как и сам язык Python.

In [ ]:
print('hi')

### Основные средства разработки

Разработка на языке python ведётся с использованием двух основных форматов исполняемых файлов:


*   .py
*   .ipynb

Файлы с расширением .py содержат исключительно исполняймый код языка Python (с возможными комментариями), тогда как файлы .ipynb являются сценарными оболчками для языка и визуализируются в виде "тетрадок" (*inetractive python notebook*).

Вот пример стандартного кода из файла .py в среде Pycharm:
![Пример стандартного кода из файла .py](https://drive.google.com/uc?id=1PNu5dcZ93j_e2wAobBVLMfiueRum0B4v)

А вот так выглядит код файла .ipynb если открыть его в блокноте:
![Вот пример стандартного кода из файла .py в среде Pycharm](https://drive.google.com/uc?id=1L7vdR1pt97rkQztMXz4AGao9twrqjZvK)

В зависимости от того, нужно ли нам просто выполнить какой-либо анализ или написать код для использования в реальном приложении, целесообразно использовать и тот и тот формат написания python кода.

Для разработки в представленных форматах мы рекомендуем следующее программное обеспечение:


*   Для разработки с использованием файлов .py: [PyCharm](https://www.jetbrains.com/pycharm/) от JetBrains.
*   Для разрабоки с использование файлов .ipynb: [Jupyter Notebook](https://jupyter.org/install)
*   Для сетевой разработки с использованием барузера в формате .ipynb: [Google Colaboratory](https://colab.research.google.com/)

Для работы с языком Python также потребуется установить его интерпретатор. Он доступен по [ссылке](https://www.python.org/). Писать простейшие программы можно просто в блокноте. Но файл должен сохраняться с разрешением .py, в котором код хранится в виде текста. Запуск простейшего программы тогда проихводится командой в консоли

`python program.py`

Вместо program не забудьте вписать название вашего файла.

## Простые команды в языке на примере работы с базовыми типами данных

### Однострочные и многострочные комментарии

In [ ]:
# Комментарии - основа для последющей работы с кодом.
# В Питоне для записи комментариев
# используется символ # для однострочных комментариев и
# kjkjkj

'''Это
многострочный
llll
комментарий
'''

# этот print нужен для демонстрации многострочного комментария выше только при работе с .ipynb
# мы позже поясним почему
# print('')

'Это\nмногострочный\nllll\nкомментарий'

### print()  

Python позволяет достаточно удобно выводить на экран сложные комбинации слов и значений переменных, в том числе проводя дополнительные вычисления в процессе.  
Прежде, чем разбираться с типами данных стоит на примерах посмотреть как работает команда `print`

In [ ]:
print('Мы вывели простую строку текста, которую сами написали: ')
print('*****Впишите свою строку и она выведтся ниже')

print(4, 'Adelya')

Мы вывели простую строку текста, которую сами написали:
*****Впишите свою строку и она выведтся ниже
4 Adelya

In [ ]:
print('Мы вывели две строки подрядк, которые сами написали: ')
print('*****Это моя первая строка', '*****Это моя вторая строка через пробел после первой')

Мы вывели две строки подрядк, которые сами написали:
*****Это моя первая строка *****Это моя вторая строка через пробел после первой

In [ ]:
print('Мы вывели число, которое сами написали: ')
print(5, 'test', 666)

Мы вывели число, которое сами написали:
5 test 666

In [ ]:
print('Мы вывели число и строку одной командой: ')
print('****Тут наша строка, затем пробел и число, верно?', 5)

Мы вывели число и строку одной командой:
****Тут наша строка, затем пробел и число, верно? 5

In [ ]:
a = 7
b = 5

print(a,b)

7 5

In [ ]:
print(f'Это комбинация введённого числа {a} и строки, котору мы сами придумали.')
print('Это комбинация введённого числа', a, 'и строки, котору мы сами придумали.')

Это комбинация введённого числа 7 и строки, котору мы сами придумали.
Это комбинация введённого числа 7 и строки, котору мы сами придумали.

In [ ]:
a = 10
print('Так же можно делать и с переменной')
print(f'Это комбинация строки, котору мы пишем сами и значения переменной a, которое равно {a}')

Так же можно делать и с переменной
Это комбинация строки, котору мы пишем сами и значения переменной a, которое равно 10

Если у вас есть переменная, то её значение можно "Распечатать" при работе с форматом .ipynb просто написав её название или значение

In [ ]:
a = 5
b = 7

b + 7

14

In [ ]:
a = 'h'
a

'h'

In [ ]:
a

5

Имменно по-этому там, где мы демонстрировали комментарии, мы использовали дополниетльный `print()`. Иначе наш комментарий воспринимался сценарием как строка.

### input()

Функция `input()` запрашивает строку ввода у пользователя и возвращает её в качестве результата.

В функцию можно передать строку-приглашение, которая будет выведена на экран перед ожиданием ввода. Введенные данные **всегда** возвращаются в виде **строки**, даже если пользователь ввел число.

In [ ]:
a = input()

# input() - строка

4

In [ ]:
# n = float(input())
n = '6'
n = int(n)
n

6

In [ ]:
n = input()

type(n)

5

str

In [ ]:
n = input()

n

4

'4'

### Типы данных

Все типы данных в Python относятся к одной из 2-х категорий: изменяемые (mutable) и неизменяемые (immutable).

**Неизменяемые объекты:**
- числовые данные (int, float),
- bool,
- None,
- символьные строки (class 'str'),
- кортежи (tuple).

**Изменяемые объекты:**
- списки (list),
- множества (set),
- словари (dict).

In [ ]:
# char - 1 символ

a = 6 -> int
a = 6.0 -> float
a = '6' -> str

# 6/2.5 -> float

В Python используется утиная типизация. Для работы с переменными не нужно объявлять их тип, а достаточно просто присвоить значение.

Принцип утиной типизации звучит следующим образом:

```
Если это выглядит как утка, плавает как утка и крякает как утка, то это, вероятно, и есть утка.
```

#### Int

Целочисленный тип переменной.

Чтобы задать переменную, не нужно указывать ее тип - достаточно присвоить ей значение. При этом тип определится автоматически.

In [ ]:
x = 5 # переменная типа int

# Команда type выводит на экран тип переменной.

print(f'У переменной x со значение {x} тип {type(x)}')

У переменной x со значение 5 тип <class 'int'>

#### float

Тип переменной для хранения дробных чисел.

In [ ]:
x = 5.0 # переменная типа float

print(f'У переменной x со значение {x} тип {type(x)}')

У переменной x со значение 5.5 тип <class 'float'>

In [ ]:
0.1 + 0.1 + 0.1

0.30000000000000004

#### str

Тип переменной для хранения строк. Обратите внимание, что строки можно задавать и одинарыми и двойными кавычками. Это важно, когда внутри строки вы хотите вывести часть в кавычках.

In [ ]:
str1 = 'Москва'
str2 = "ЦК2025"

print(f'str1 это {type(str1)} cо значением {str1}. А str2 это {type(str2)} со значением {str2}')

str1 это <class 'str'> cо значением Москва. А str2 это <class 'str'> со значением ЦК2025

In [ ]:
print("Привет 'Это цитата', 'Это другая цитата'")

print('Привет "Это цитата", "Это другая цитата"')

Будьте аккуратнее со скобками!

In [ ]:
a = 5
print(f'Curly brackets: {}')

Curly brackets:

In [ ]:
print(f"Это строка, но внутри 'текст в кавычках'")

Это строка, но внутри 'текст в кавычках'

In [ ]:
print(f"А так не работает, хотя текст "тоже в кавычках"")

SyntaxError: ignored

In [ ]:
s = '''А ещё вы можете создавать многострочные переменные
используя тройные кавычки'''
print(s)

А ещё вы можете создавать многострочные переменные
используя тройные кавычки

In [ ]:
s = 'А ещё вы можете создавать многострочные переменные \nиспользуя тройные кавычки'
print(s)

А ещё вы можете создавать многострочные переменные
используя тройные кавычки

In [ ]:
s = 'Но также если вы великий писатель и ваши мысли не способна вместить видимая \
строка, вы можете поставить правый слеш и спокойно пиcать на следующей строке, \
то же самое относится и к написанию кода'

print(s)

Но также если вы великий писатель и ваши мысли не способна вместить видимая строка, вы можете поставить правый слеш и спокойно пиcать на следующей строке, то же самое относится и к написанию кода

#### bool
Логическая переменная. Тут всё просто: истинно или ложно. 0 - ложно. Всё остальное - истинно.

In [ ]:
a = True
b = False

print(f'Это простые логические переменные: a со значением {a} и b со значением {b}')

Это простые логические переменные: a со значением True и b со значением False

In [ ]:
a = 1
b = 0

In [ ]:
x = 10
print(x>5 or x<10)

False

`isintance(<var>, <type>)` позволяет проверить, относится ли объект (а в Python всё является объектами) к заданному типу.

In [ ]:
a = True
isinstance(a, bool)

True

In [ ]:
isinstance(a, float)

False

Обратите внимание, результат выводится на экран сразу же в случае, если после вызова метода/функции.
Ну и bool является наследником int. Нам это не важно в рамках курса, но факт забавный.

С логическими выражениям можно работать традиционными для любого языка способами.

In [ ]:
print(50 and 100)

100

Но надо быть внимательным!

In [ ]:
print(11 > 0 == True)

False

In [ ]:
print (10 < 20 < 30)

True

#### None

Этот тип данных служит для отборажения пустоты. Он присваивается если у переменной нет значения.

In [ ]:
a = None
print(a, type(a))

None <class 'NoneType'>

#### tuple (кортеж)

Кортежи служат для хранения поледовательности неизменяемых значений и обозначаются круглыми скобками

```
()
```
Можжно обратиться к отдельным элементам кортежа через

```
var[Номер элемента]
```

In [ ]:
tup = (1, 2, 3, '4', 'Adelya', (2,3))
# tup = tuple(1,2,3,4,5)
# print(tup, type(tup))

In [ ]:
# обратите внимание, переменная объявлена в предыдущей ячйке, но она есть и в текущей
print(tup[1])

2

In [ ]:
#объект неизменяемый, ничего не вышло
tup[0] = 566

TypeError: ignored

#### List

Один из наиболее частоиспользуемых типов объектов - список или массив. Очень удобный инструмент для работы с данными. Может хранить объекты разных типов.

In [ ]:
l = [1, 2, 4] # list
# l = list(1,2,4)

l.append(10)
l.append([10, 11])
l.append('tut')

print(l)

[1, 2, 4, 10, [10, 11], 'tut']

In [ ]:
# создаём пустой список через []
arr1 = [1,4,5]
arr2 = list()
a = int(5)
# добавляем число
arr1.append(1) # всегда в конец!
# arr1 = [1,4,5, 1]
# добавляем строку
arr1.append('1 2 3')
# arr1 = [1,4,5, 1, '1 2 3']
arr1.append([1, 2, 3])

# arr1 = [1,4,5, 1, '1 2 3', [1, 2, 3]]
# arr1 = [1,4,5, 1, '1 2 3', 1, 2, 3]

# смотрим что хранится
print('1:', arr1)

1: [1, 4, 5, 1, '1 2 3', [1, 2, 3]]

In [ ]:
[1, 2, 3] + [1, 4, 6, 8, 9]
# конкатенация
# расширение
# [1, 2, 3] + [1, 4, 6]

[1, 2, 3, 1, 4, 6, 8, 9]

In [ ]:
l = [1, 2, 3, 1, 4, 6, 8, 9]

l[0] = 566
l[4] = [-1, 5]

l

[566, 2, 3, 1, [-1, 5], 6, 8, 9]

In [ ]:
a = 6
a = 'пример!'

list(a)

['п', 'р', 'и', 'м', 'е', 'р', '!']

In [ ]:
#создаём список из строки через команду list(), он автоматически разделится на элементы списка
arr = list('1 23467') #['1', ' ', '2', '3', ...]
print('2:', arr)

#создаём список из строки поместив в него одну строку, она останется целиком в качестве элемента
arr = ['1234567']
print('3:', arr)

# #создаём список из нескольких элементов
arr = ['5', 4]
print('4: ', arr)

2: ['1', ' ', '2', '3', '4', '6', '7']
3: ['1234567']
4:  ['5', 4]

Существуют [стандартные](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range) методы для работы со списками, да и с любыми другими объектами. Их полезно знать. Например, как расширять списки?

In [ ]:
l = [1, 2, 3]
l.extend([6]) # [1, 2, 3, 6] -> [1, 2, 3] + [6]
l.append([6]) # [1, 2, 3, [6]]
print(l)

[1, 2, 3, 4, [6]]

In [ ]:
l = [1, 2, 3]
l * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
l = [1, 2, 3]
l += [4, 7, 9, 10]
print(l)

[1, 2, 3, 4, 7, 9, 10]

In [ ]:
[1, 2, 3] + [1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [ ]:
l = [1, 2, 3]
l.extend(4)
print(l)

TypeError: ignored

In [ ]:
l = [1, 2, 3]
l.extend('abc')
print(l)

[1, 2, 3, 'a', 'b', 'c']

##### Срезы для списков
Срез - это способ работы с частью списка. Очень удобный механизм, который, однако, требует повышенного внимания, чтобы не ошибиться.

Срезу для списка `A` берётся следующим образом:
```
A[начало:конец-1:шаг]
```

In [ ]:
    #  0   1  2  3  4  5
l = [2, 20, 3, 5, 6, 7]
    #  -6 -5 -4 -3 -2 -1
l[-1], l[5]

(7, 7)

In [ ]:
A = [1, 2, 3, 4, 5, 6, 7, 8]

A[4:-2:-2] # []

A[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#   -8 -7 -6 -5 -4 -3 -2 -1
#    0  1  2  3  4  5  6  7
A = [1, 2, 3, 4, 5, 6, 7, 8]

print('От начала до (3-1=)2 элемента:', A[:3]) # 1, 2, 3
print('От шестого элемента до конца:', A[6:]) # 7,9
print('От 3-го элемента до 5-ого с шагом 1:', A[3:6:1]) # 3, 4, 5
print('От первого элемента до 6-ого с шагом 2:', A[1:7:2]) # 2, 4,  6
print('От конца до 4-го элемента с шагом 1:', A[-1:4]) # none
print('Ничего не вывелось, так как шаг положительный, а движение должно быть отрицательным')
print('От конца до 4-го элемента с шагом -1:', A[-1:4:-1]) # 8, 7, 6
print('От конца до -4 элемента с шагом -1:', A[-1:-4:1]) # none
print('Последний элемент в списке:', A[-1]) # 8
print('От -7 элементам до конца:', A[-7:]) # 2, 3, 4, 5, 6, 7, 8

От начала до (3-1=)2 элемента: [1, 2, 3]
От шестого элемента до конца: [7, 8]
От 3-го элемента до 5-ого с шагом 1: [4, 5, 6]
От первого элемента до 6-ого с шагом 2: [2, 4, 6]
От конца до 4-го элемента с шагом 1: []
Ничего не вывелось, так как шаг положительный, а движение должно быть отрицательным
От конца до 4-го элемента с шагом -1: [8, 7, 6]
От конца до -4 элемента с шагом -1: []
Последний элемент в списке: 8
От -7 элементам до конца: [2, 3, 4, 5, 6, 7, 8]

Обратите внимание, что срез из нескольких элементов имеет тип "список". Вы можете получить сам объект, хранейщся в списке (для единичного среза) через оператор

```
*
```

In [ ]:
a = [[1, 4, 3, 2], [1, 4, 3]] # list

b = [1, 4, 3, 2]
print(*b)

1 4 3 2

In [ ]:
print(A[-7:], 'имеет тип', type(A[-7:]))
print(*A[-7:-6], 'имеет тип', type(*A[-7:-6]))

[2, 3, 4, 5, 6, 7, 8] имеет тип <class 'list'>
2 имеет тип <class 'int'>

Срез в списке можно заменять на другой список или элемент.

In [ ]:
lst = [81, 64, 49, 36, 25, 16, 9, 4, 1, 0]
lst[0:2] = [1, 2, 4, 8, 16, 32, 64, 128, 256]
print(lst)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 49, 36, 25, 16, 9, 4, 1, 0]

In [ ]:
lst = [1, 2, 3, 4]
lst[0:2] = [1, 2, 4, 8]
print(lst)

[1, 2, 4, 8, 3, 4]

Со строками можно работать также, как со списками

In [ ]:
print("abcdefgh"[1] + "01234567"[::2] + "HGFEDCBA"[1::2])

b0246GECA

In [ ]:
lst = [81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

lst[0], lst[-1] = lst[-1], lst[0]

lst

[0, 64, 49, 36, 25, 16, 9, 4, 1, 81]

#### Dict (ассоциативный массив)

Словарь используется для хранение пары объектов вида:

```
<ключи>:<значение>
```
Это очень удобная форма хранения данных, называемая "ассоцированный массив".

In [ ]:
# Создадим пустой словать Capitals
Capitals = dict() # Capitals = {}

# Заполним его несколькими значениями
Capitals['Russia'] = 'Moscow'
Capitals['UK'] = 'London'
# Capitals['USSR'] = {'Belarus': 'Minsk', 'Russia': 'Moscow'}

Capitals

{'Russia': 'Moscow', 'UK': 'London'}

In [ ]:
print(**Capitals)

TypeError: 'Russia' is an invalid keyword argument for print()

In [ ]:
Capitals['Russia']

'Moscow'

In [ ]:
# Считаем название страны
print('Введите текст, в какой стране вы живете?')
country = input()

Введите текст, в какой стране вы живете?
Mordor

In [ ]:
country

'Mordor'

In [ ]:
# Проверим, есть ли такая страна в словаре Capitals
if country in Capitals:
    # Если есть - выведем ее столицу
    print('Столица вашей страны', Capitals[country])
else:
    # Запросим название столицы и добавив его в словарь
    print('Мы не нашли такую страну. Введите текст, как называется столица вашей страны?')
    city = input()
    Capitals[country] = city

Столица вашей страны Bard-Dur

Можно получать список ключей, значений и элементов (пар) словаря, используя специальный методы.

In [ ]:
print(Capitals.keys(), "- Этот метод возвращает представление клюей в заданном словаре", '\n')

print(Capitals.values(), "- Этот метод возвращает представление значений в заданном словаре", '\n')

print(Capitals.items(), "- Этот метод возвращает представление пар (кортежей) ключ-значение в заданном словаре", '\n')

dict_keys(['Russia', 'Ukraine', 'USA', 'Mordor']) - Этот метод возвращает представление клюей в заданном словаре

dict_values(['Moscow', 'Kiev', 'Washington', 'Bard-Dur']) - Этот метод возвращает представление значений в заданном словаре

dict_items([('Russia', 'Moscow'), ('Ukraine', 'Kiev'), ('USA', 'Washington'), ('Mordor', 'Bard-Dur')]) - Этот метод возвращает представление пар (кортежей) ключ-значение в заданном словаре

Можно удалять элементы из словаря.

In [ ]:
del Capitals['Russia'] #работает не только для словаря, кстати!
print(Capitals)

{'Ukraine': 'Kiev', 'USA': 'Washington', 'Mordor': 'Bard-Dur'}

In [ ]:
Capitals.items()

dict_items([('Russia', 'Moscow'), ('UK', 'London')])

In [ ]:
# можно также изменять значение по ключу.

Capitals['Ukraine'] = 'London'
Capitals

{'Ukraine': 'London', 'USA': 'Washington', 'Mordor': 'Bard-Dur'}

#### Set (множество)

Множество служит для хранения уникальных элементов и только их.

In [ ]:
# A = {'k': 3}
A = {1, 2, 3, 3}
# A = set()
A

{1, 2, 3}

In [ ]:
A[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s = 'herll'

set(s)

{'e', 'h', 'l', 'r'}

In [ ]:
s1 = {6, 7, 1, 8, 9}
s2 = {1, 2, 4, 5, 6}

# найти элементы которые есть в обоих списках
# 1, 6

s1 & s2 # пересечение
s1 | s2 # объединие
s1 - s2
s2 - s1

{2, 4, 5}

In [ ]:
A = {1, 2, 3, 4, 10}
B = {1, 1, 2, 3, 4, 4}

set()

In [ ]:
A = {1, 2, 3, 4}
B = {1, 1, 2, 3, 4, 4}
print(B)
print(A)

#как и вслучае со списоком, создавая множество через команду set() вы разбираете объекта на элементы
print('1:', set('NRNU MEPhI'))
print('2:', {'NRNU MEPhI'})

{1, 2, 3, 4}
{1, 2, 3, 4}
1: {'U', ' ', 'P', 'I', 'N', 'M', 'R', 'h', 'E'}
2: {'NRNU MEPhI'}

In [ ]:
# Добавление и удаление элемента из множества
A = {8, 2, 11, 4, 42, 6, 7}

print(A, "- вначале", '\n', '-'*32)
A.add(80)
print(A, '- add', '\n', '-'*32)

#метод .pop() "достаёт" последний элемент из множества
print(A.pop(), end=' ')
print(A, '- pop', '\n')
A.discard(11)
print(A, '- discard', '\n') #при отсутствии заданного элемента не делает ничего
A.remove(6)
print(A, '- remove', '\n') #при отсутствии заданного элемента поднимаент исключение KeyError

{2, 4, 6, 7, 8, 42, 11} - вначале
 --------------------------------
{2, 4, 6, 7, 8, 42, 11, 80} - add
 --------------------------------
2 {4, 6, 7, 8, 42, 11, 80} - pop

{4, 6, 7, 8, 42, 80} - discard

{4, 7, 8, 42, 80} - remove

In [ ]:
A = [8, 2, 11, 4, 42, 6, 7]
del A[0]

A

[2, 11, 4, 42, 6, 7]

In [ ]:
A.discard(11)
A.remove(6)

KeyError: ignored

Вообще, многие стандартные методы работают достаточно странно для непривычного к этому прогаммиста, помните об этом и будьте внимательны!

In [ ]:
set1 = {1, 2, 3}
set2 = set1.add(4)

print(set2)
print(set1)

None
{1, 2, 3, 4}

### Перевод из типа в тип

Для перевода из типа в тип можно использовать специальные методы-конструкторы типа, которые можно вызвать по их названию.  

Обратите внимание, что операция приведения типа не транзитивна.  

Команды, `list()`, `set()`, которые мы использовали раннее по сути являются операциями приведения типов. Они создают новый объект заданного типа, используя конструктор того типа, который нам нужен.

In [ ]:
a = '6'
print(a)
print(type(a))
a = int(a)
print(a)
print(type(a))
a = float(a)
print(float(a))
print(type(a))

print('*'*32)
c = 5.5
print(c)
print(type(c))
c = int(c)
print(c)
print(type(c))
c = str(c)
print(c)
print(type(c))


print('*'*32)
b = 5.5
print(b)
print(type(b))
# b = str(b)
print(b)
print(type(b))
#здесь ошибка, из строки 5.5 нельзя сделать int
b = int(b)
print(b)
print(type(b))

6
<class 'str'>
6
<class 'int'>
6.0
<class 'float'>
********************************
5.5
<class 'float'>
5
<class 'int'>
5
<class 'str'>
********************************
5.5
<class 'float'>
5.5
<class 'float'>
5
<class 'int'>

In [ ]:
b = '5.5'
b = int(b)
b

ValueError: ignored

## Арифметические операции

Арифистические операции, применяемые к стандартным типам данных выглядят стандартно. Однако, у языка Python большие сложности с работой с числами с плавающей запятой.

При использовании стандартных библиотек необходимо строго стараться минимизировать колчичество вычислений с плавающей запятой.

In [ ]:
a = 5
b = 4
print('+', a+b)
print('*', a*b)
print('/', a/b)
print('-', a-b)
print('// - целочисленное деление:', (a*2)//b) # div
print('% - остаток от деления:', a%b) # mod

# 5 разделить на 2
# целая часть = 2
# остаток = 1
5%2

+ 9
* 20
/ 1.25
- 1
// - целочисленное деление: 2
% - остаток от деления: 1

1

In [ ]:
print(f'0.1+0.1 = {0.1+0.1}')
print(f'0.1+0.1+0.1 = {0.1+0.1+0.1}')
print(f'0.1*3 = {0.1*3}')

0.1+0.1 = 0.2
0.1+0.1+0.1 = 0.30000000000000004
0.1*3 = 0.30000000000000004

In [ ]:
0.1+0.1+0.1 == 0.3

False

In [ ]:
a = 5
print(a)
a = a**(1/2)
print(a)
a = a**2
print(a)

5
2.23606797749979
5.000000000000001

#### Арифметика со списками

Для списков тоже можно использовать арифметические операции, но они будут совершенно по иному работать.

Аналогично и для строк.

In [ ]:
arr = [1, 2, 3, 4] + [5, 6, 7, 8, 9]
print('4:', arr)

arr = [1, 2, 3, 4] * 4
print('5:', arr)

4: [1, 2, 3, 4, 5, 6, 7, 8, 9]
5: [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## Чтение данных с клавиатуры

Мы уже познакомились с вами с фукнцией `input()`, которая позволяет считать что-либо с клавиатуры и помним, что она всегда возвращает нам строку.

А что делать если мы хотим считать число и работать с числом?

Для этого надо провести преобразование типов.

In [ ]:
numers = input()

In [ ]:
n = 'Samat,Adelya'

n.split(',')

['Samat', 'Adelya']

In [ ]:
n = input()
n = int(n)

In [ ]:
n = input()

1 2 3 4 5

In [ ]:
n.split()

['1', '2', '3', '4', '5']

А если вводится несколько чисел?

In [ ]:
# map(func, list)


lst = list(map(int, input().split()))

lst

1 2 3 4 6

[1, 2, 3, 4, 6]

In [ ]:
import numpy as np
l = [1, 4, 5, 6, 7, 100]
max(l), np.argmax(l)
min(l), np.argmin(l)
# len(l)

(1, np.int64(0))

## Функция `split()`

`split()` — функция в Python, которую используют для разделения строки на несколько частей.

Базовый синтаксис функции `split()` выглядит так:

`str.split(sep=None, maxsplit=--1)`

- `sep` — разделитель, по которому разбивается исходная строка. По умолчанию или при указании None разделителями будут считаться любые пробельные символы (пробел, перевод строки, табуляция и другие).
- `maxsplit` — параметр, который определяет максимальное количество разбиений. По умолчанию (или если указано -1) строка разбивается полностью на все возможные подстроки.

In [ ]:
input().split() # мы можем разделать строки на части по какому-то разделителю (по умолчанию пробел)

print('Hello world'.split())
print('Маша, Аделя, fh'.split(','))

# сплит всегда возвращает СПИСОК разделенных элементов в виде строки!!!

gg
['Hello', 'world']
['Маша', ' Аделя', ' fh']

In [ ]:
print('Алексей, Аделя, fh'.split(sep=',', maxsplit=1))

['Алексей', ' Аделя, fh']

## Функция `map()`

`map()` — это функция, которая применяет другую функцию к итерируемому объекту.

Любую функцию к любому итерируемому объекту (список, строка, кортеж и т.д.).

Базовый синтаксис:

`map(function, variable)`

In [ ]:
print(list(map(int, ['1', '2', '3'])))
print(list(map(str, [1, 2, 3])))

[1, 2, 3]
['1', '2', '3']

In [ ]:
tmp = map(int, ['1', '2', '3'])

tmp

In [ ]:
lst = list(map(int, input().split()))

# разберем по частям:

lst = input()
print(f'Первое {lst}')

lst = input().split() # lst.split()
print(f'Второе {lst}')

lst = map(int, input().split()) # map(int, lst)
print(f'Третье {lst}')

lst = list(map(int, input().split())) # list(map(int, lst))
print(f'Четвертое {lst}')

1 2 3 4
1 2 3 4
Первое 1 2 3 4
1 2 3 4
Второе ['1', '2', '3', '4']
1 2 3 4
Третье <map object at 0x7a8890237af0>
1 2 3 4
Четвертое [1, 2, 3, 4]

In [ ]:
arr = [9, 3, 4, 5, 66]

arr = [99, 7, 0, 4, 5, 66]

In [ ]:
arr.index(66)

4

In [ ]:
ind_min = 1 # нам надо найти индекс
ind_max = 4 # нам надо найти индекс

# [start:stop:step]
arr[ind_min + 1 : ind_max]

9

## Условия

Использование условий в языке python похоже на любой другой язык.

```
if (условие):
____код
elif (условие):
____код
else:
____кода
```
Или
```
if (условие):
____код
else:
____кода
```
Или
```
if (условие):
____код
```

Обратите внимание, на необходимость использования отступов для корректной интерпретации кода.

**В отличии от других языков, отступы в Python необходимы для корректного исполнения кода.**

In [ ]:
x = input()

5

In [ ]:
x = int(input())

if x % 2 == 0:
    print('Yes')
else:
    print("No")

5

In [ ]:
arr = [9, 3, 4, 5, 66]

ind_max
ind_min

if x > 0:
    print("Положительное")
    # code
elif x < 0:
    print("Отрицательно")
elif x < 0:
    print("Отрицательно")
else:
    print("0")

Положительное

In [ ]:
x = int(input())

if 0 < x < 10:
    print('Положительная зона')
    print(x)
else:
    print('Неположительная зона')
    print(-x)

5
Положительная зона
5

Для формирования сложных условий можно использовать логические операции и различные операторы сравнения.

Операторы сравнения:  
`<` Меньше — условие верно, если первый операнд меньше второго.  
`>` Больше — условие верно, если первый операнд больше второго.  
`<=` Меньше или равно.  
`>=` Больше или равно.
`==` Равенство. Условие верно, если два операнда равны.  
`!=` Неравенство. Условие верно, если два операнда неравны.  
`a <= x <= b` - x находится в интервале от a до b.

Логические операции:  
`and` - логическое "И"  
`or` - логическое "Или"  
`not` - логическое "Отрицание"

In [ ]:
a = int(input())
b = int(input())
x = int(input())
if a <= x <= b and x > 0:
    print('YES')
else:
    print('No')
print('NO')

5
3
4
No
NO

Для проверки наличия элементов в спиcке используется операция

```
in
```

In [ ]:
A = [1, 2, 3, 4, 5, 6, 7, 8]
b = int(input())

if b in A:
  print('yes')
else:
  print('no')

5
yes